# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ibozhinovski\OneDrive - ENDAVA\Desktop\Personal\AUTOMATION_TESTING\API_TESTING\API_Automation_Testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
